@charset "UTF-8";
/* CSS Document */

body{
	background-color:#333;
	margin:0;
}

#animation{
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 160px;
	height: 600px;
	background-color: #37003c;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #37003c;
	box-sizing: border-box;
}

#color_bar1{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 10px;
	background-color: #b71f38;
}

#color_bar2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 10px;
	background-color: #009d73;
}

#color_bar3{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 10px;
	background-color: #006cb7;
}

#frame1{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1600px;
	height: 600px;
	background: url(images/frame1.png) no-repeat;
}

#frame2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1600px;
	height: 600px;
	background: url(images/frame2.png) no-repeat;
}

#frame3{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1600px;
	height: 600px;
	background: url(images/frame3.jpg) no-repeat;
}

#frame3_lines{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1600px;
	height: 600px;
	background: url(images/frame3.jpg) no-repeat;
}

#line1{
	position: absolute;
	left: 9px;
	top: 140px;
	width: 143px;
	height: 2px;
	background: url(images/line.png) no-repeat;
}

#line2{
	position: absolute;
	left: 9px;
	top: 235px;
	width: 143px;
	height: 2px;
	background: url(images/line.png) no-repeat;
}

#mask1{
	position: absolute;
	left: 0px;
	top: 290px;
	width: 160px;
	height: 10px;
	overflow: hidden;
}

#mask2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 600px;
	overflow: hidden;
}

#network{
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	top: 218px;
	width: 125px;
	height: 56px;
	background: url(images/network.png) no-repeat center center;
	background-size:contain;
}

#pl_logo{
	position: absolute;
	left: 6px;
	top: 21px;
	width: 147px;
	height: 98px;
	background: url(images/pl_logo.png) no-repeat center center;
	background-size:contain;
}

#tunein {
	position: absolute;
	left: 6px;
	top: 146px;
	width: 145px;
	height: 75px;
	background: url(images/tunein.png) no-repeat center center;
	background-size:contain;
}


