@charset "UTF-8";
/* CSS Document */

body{
	background-color:#333;
	margin:0;
}

#animation{
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 728px;
	height: 90px;
	background-color: #ff2882;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #37003C;
	box-sizing: border-box;
}


#mask1{
	position: absolute;
	left: 21px;
	top: 31px;
	width: 686px;
	height: 27px;
	overflow: hidden;
}


#mask2{
	position: absolute;
	left: 19px;
	top: 90px;
	width: 262px;
	height: 72px;
	overflow: hidden;
}

#logolarge{
	position: absolute;
	left: 200px;
	top: 7px;
	width: 729px;
	height: 90px;
	background: url(images/logolarge.png) no-repeat;
}


#logoendframe{
	position: absolute;
	left: 20px;
	top: 22px;
	width: 161px;
	height: 46px;
	background: url(images/logoendframe.png) no-repeat;
}

#meteors{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 728px;
	height: 90px;
	background: url(images/meteors-large.png) no-repeat;
}


#tagline1{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 686px;
	height: 27px;
	background: url(images/tagline1.png) no-repeat;
}

#tagline2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 262px;
	height: 72px;
	background: url(images/tagline2.png) no-repeat;
}


#frame1bg{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 729px;
	height: 180px;
	background: url(images/frame1bg-large.png) no-repeat;
}


#frame2bg{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 729px;
	height: 180px;
	background: url(images/frame2bg-large.png) no-repeat;
}

#bgendframe{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 728px;
	height: 90px;
	background: url(images/bg-endframe.png) no-repeat;
}


#divider{
	position: absolute;
	left: 10px;
	top: 176px;
	width: 280px;
	height: 65px;
	background: url(images/divider.png) no-repeat;	
}

#players{
	position: absolute;
	left: 31px;
	top: 0px;
	width: 256px;
	height: 250px;
	background: url(images/players.png) no-repeat;	
}


#mask-l{
	position: absolute;
	left: 211px;
	top: 23px;
	width: 326px;
	height: 46px;
	overflow: hidden;
	/*background-color: red;*/
}

#match1{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 326px;
	height: 46px;
	background: url(images/match1.png) no-repeat;	
}


#mask-r{
	position: absolute;
	left: 166px;
	top: 183px;
	width: 118px;
	height: 52px;
	overflow: hidden;
/*	background-color: blue;
*/}

#match2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 118px;
	height: 52px;
	background: url(images/match2.png) no-repeat;	
}









